h1 {
  color: orangered;
  text-align: center;
}
h2 {
  font-style: italic;
  text-align: center;
  color: darkred;
}
p {
  color: sienna;
}
body {
  background-color: darkgray;
  font-family: sans-serif;
  text-align: center;
}
